name: ci
on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    env:
      BATON_LOG_LEVEL: debug
      # Add any environment variables needed to run baton-bitbucket-datacenter
      BATON_DATABRICKS_CLIENT_ID: ${{ secrets.DATABRICKS_CLIENT_ID }}
      BATON_DATABRICKS_CLIENT_SECRET: ${{ secrets.DATABRICKS_CLIENT_SECRET }}
      BATON_ACCOUNT_ID: ${{ secrets.BATON_ACCOUNT_ID }}
      # BATON_WORKSPACES: ${{ secrets.BATON_WORKSPACES }}
      # BATON_WORKSPACE_TOKENS: ${{ secrets.BATON_WORKSPACE_TOKENS }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Build baton-databricks
        run: go build ./cmd/baton-databricks
      - name: Test grant/revoking entitlements
        env:
          BATON_DATABRICKS: ./baton-databricks
        uses: ConductorOne/github-workflows/actions/sync-test@v2
        with:
          connector: ./baton-databricks
          baton-entitlement: 'group:account/8c6f99ec-78ce-4654-8f92-e716b3dd67a7/group/66271399072731:member'
          baton-principal: '5346803201281760'
          baton-principal-type: 'user'
